<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static',filename='styles.css')}}>
    <title>contents</title>
</head>
<body>
    <table>
        <tr>
            <th>Weapon</th>
            <th>wear</th>
            <th>Skin</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{item[4]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[1]}}</td>
        </tr>
    </table>
    <form action="/add" method="post">
    <h2>Enter a new weapon</h2>
    <h3>Weapon Name</h3>
    <input type="text" name="Weapon_Name">
    </h4>Wear</h4>
    <input type="text" name="Weapon_Wear">
    </h5>$Price$</h5>
    <input type="text" name="Weapon_Skin">
    <input type="submit" value="add">
    </form>
</body>
</html>


<!--{% for item in results %}
    <h1>{{item[1]}} {{item[2]}} {{item[3]}}</h1>
    {% endfor %}

        <tr>
            <th>Weapon</th>
            <th>wear</th>
            <th>Skin</th>
        </tr>
        <tr>
            <td>
                <h1>{{item[5]}}</h1>
            </td>
            <td>
                <h1>{{item[3]}}</h1>

            </td>
            <td>
                <h1>{{item[2]}}</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h1>{{item[5]}}</h1>
            </td>
            <td>
                <h1>{{item[3]}}</h1>

            </td>
            <td>
                <h1>{{item[2]}}</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h1>{{item[5]}}</h1>
            </td>
            <td>
                <h1>{{item[3]}}</h1>
            </td>
            <td>
                <h1>{{item[2]}}</h1>
            </td>
        </tr>
        {% endfor %}

    